.map {
  width: 100%;
  margin: 0 auto 0 auto;
  height: auto;
}

.link {
  width: 80%;
  background: white;
  margin: 10px auto 10px auto;
  text-align: center;
  font-size: 18px;
}

.link a {
  color: blue;
}


main h1 {
  color: #1f3234;
  text-align: center;
  margin: 45px auto 15px auto;
  padding-top: 10px;
}

.contact {
  background: #eaedf7;
  border-radius: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.foneicon {
  width: 40px;
  height: auto;
}

.mailicon {
  width: 40px;
  height: auto;
}

.tyuui {
  text-align: left;
  color: tomato;
  width: 80%;
  margin: 0 auto;
}

.link span {
  font-size: small;
  color: gray;
}