.map {
  width: 100%;
  margin: 0 auto 0 auto;
  height: auto;
}

.link {
  width: 80%;
  background: white;
  margin: 10px auto 10px auto;
  text-align: center;
  font-size: 18px;
}

.link a {
  color: blue;
}


main h1 {
  color: #1f3234;
  text-align: center;
  margin: 45px auto 15px auto;
  padding-top: 10px;
}

.contact {
  background: #eaedf7;
  border-radius: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.tyuui {
  text-align: left;
  color: tomato;
  width: 80%;
  margin: 0 auto;
}

.snsicon {
  width: 25px;
  height: 25px;
}

.idlink {
  display: inline-block;
  align-items: center;
  color: black;
  height: 25px;
}

.and {
  font-size: 20px;
}

main {
  padding-top: 200px;
}

@media screen and (max-width: 950px) {
  main {
    padding-top: 125px;
  }
}

@media screen and (max-width: 580px) {
  main {
    padding-top: 90px;
  }
}