table, th, td {
  border: #426579 2.5px solid;
  background: #eaedf7;
  border-collapse: collapse;
}

table {
  margin: 45px auto 25px auto;
  width: 85%;
  table-layout: fixed;
  height: 250px;
}

td {
  padding: 25px;
  word-break: keep-all;
}

main h1 {
  display: flex;
  align-items: center;
  width: 10em;
  margin: 0 auto 0 auto;
}

main h1:after,
main h1:before {
  content: "";
  flex-grow: 1;
  background: black;
  height: 2px;
}

main h1:before {
  margin-right: .5em;
}
main h1:after {
  margin-left: .5em;
}

.tuiki {
  display: block;
  width: 80%;
  margin: 0 auto 0 auto;
  word-break: keep-all;
  color: tomato;
}

main h1:after,
main h1:before {
  content: "";
  flex-grow: 1;
  background: black;
  height: 2px;
}

main h1:before {
  margin-right: 0.5em;
}
main h1:after {
  margin-left: 0.5em;
}

main p {
  text-align: center;
  width: 21em;
  margin: 0 auto 0 auto;
}



.balloon1 {
  width: 70%;
  background: #e1e6f5;
  margin: 20px auto 0 auto;
  border-radius: 12px;
}

.ninehour {
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 534px) {
  .tuiki {
    width: 75%;
    word-break: break-all;
  }
  .tobidashi {
    padding: 2px;
  }
}

.hirosugi {
  width: 4em;
}

