.slideshow {
  width: 100%;
}

.greet {
  width: 80%;
  margin: 45px auto 45px auto;
  border: 2px solid #426579;
  border-radius: 12px;
  background-color: #eaf4fc;
  transition: .3s;
}

.greet p {
  padding: 12px;
}

.terumii-link {
  text-align: center;
  width: 60%;
  margin: 25px auto 25px auto;
  transition: .3s;
}

.terumii-link a {
  color: #d7a98c;
  width: 60%;
  margin: 25px auto 25px auto;
}

.terumii-link:hover {
  color: #fddea5;
  background: #fde8d0;
}

.top-img {
  width: 100%;
  height: auto;
}

.newscard-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.news-top-img {
  width: 80%;
  height: auto;
}

.card {
  width: 100%;
  cursor: pointer;
  border: 1px solid #e9eaea;
  border-radius: 3px;
  color: #426579;
  transition: .3s;
  line-break: strict;
}

.newscard-wrapper a {
  text-decoration: none;
}

.card:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

.text-box {
  padding: 15px;
  background: white;
}

.text-box h2 {
  text-decoration: underline;
}

.news-img {
  padding: 10px 0;
  text-align: center;
  background: #e1f3ff;
}

.news-date {
  font-size: 10px;
  margin-top: 5px;
}

@media screen and (max-width: 580px) {
  main {
    padding-top: 100px;
  }
}