.slideshow {
  width: 100%;
}

.greet {
  width: 80%;
  margin: 45px auto 45px auto;
  border: 2px solid #426579;
  border-radius: 12px;
  background-color: #eaf4fc;
  transition: .3s;
}

.greet p {
  padding: 12px;
}

.terumii-link {
  text-align: center;
  width: 80%;
  margin: 25px auto 25px auto;
  transition: .3s;
}

.terumii-link a {
  color: #d7a98c;
  width: 80%;
  margin: 25px auto 25px auto;
}

.terumii-link:hover {
  color: #fddea5;
  background: #fde8d0;
}

.top-img {
  width: 100%;
  height: auto;
}