table, th, td {
  border: #426579 2.5px solid;
  background: #eaedf7;
  border-collapse: collapse;
}

table {
  margin: 45px auto 45px auto;
  width: 100%;
  table-layout: fixed;
  height: 500px;
}

main h1 {
  display: flex;
  align-items: center;
  width: 10em;
  margin: 0 auto 0 auto;
}

main h1:after,
main h1:before {
  content: "";
  flex-grow: 1;
  background: black;
  height: 2px;
}

main h1:before {
  margin-right: 0.5em;
}
main h1:after {
  margin-left: 0.5em;
}

p {
  max-width: 650px;
  margin: 0 auto 0 auto;
}

td {
  padding: 20px;
}

/* 吹き出し */
.balloon1-left {
  position: relative;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  width: 85%;
  color: #555;
  font-size: 16px;
  background: #e7e7ed;
  margin: 0 auto 0 auto;
  line-height: 1.6;
}

.balloon1-left p {
  margin: 0;
  padding-left: 2em;
  padding-right: 2em;
}
/* 吹き出し end */


.price-page-p {
  display: block;
  width: 90%;
  margin: 0 auto;
  text-indent: -1em;
}

.pras {
  position: relative;
  margin: 1.5em 0 1.5em 15px;
  padding: 20px 10px;
  width: 75%;
  color: #555;
  font-size: 16px;
  background: #e7e7ed;
  margin: 0 auto 0 auto;
  line-height: 1.6;
  margin-bottom: 20px;
  border-radius: 5px;
}

.purasu {
  color: tomato;
  text-align: center;
}

.houmon {
  margin-bottom: 10px;
}

.br {
  word-break: keep-all;
}

.houmon-catch {
  font-size: 18px;
  text-align: center;
}

pre {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 950px) {
  main {
    padding-top: 180px;
    width: 100%
  }
  main h1 {
    font-size: 24px;
  }
  main table {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  main {
    padding-top: 120px;
  }
}