table, th, td {
  border: #426579 2.5px solid;
  background: #eaedf7;
  border-collapse: collapse;
}

table {
  margin: 45px auto 45px auto;
  width: 100%;
  table-layout: fixed;
  height: 500px;
}

main h1 {
  display: flex;
  align-items: center;
  width: 10em;
  margin: 0 auto 0 auto;
}

main h1:after,
main h1:before {
  content: "";
  flex-grow: 1;
  background: black;
  height: 2px;
}

main h1:before {
  margin-right: 0.5em;
}
main h1:after {
  margin-left: 0.5em;
}

p {
  max-width: 650px;
  margin: 0 auto 0 auto;
}

td {
  padding: 20px;
}

/* 吹き出し */
.balloon1-left {
  position: relative;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  width: 85%;
  color: #555;
  font-size: 16px;
  background: #e7e7ed;
  margin: 0 auto 0 auto;
  line-height: 1.6;
}
/* 
.balloon1-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e7e7ed;
} */

.balloon1-left p {
  margin: 0;
  padding-left: 2em;
  padding-right: 2em;
}
/* 吹き出し end */


.p1,
.p2,
.p3,
.p4 {
  display: block;
  width: 90%;
  margin: 0 auto;
  /* word-break: keep-all; */
  text-indent: -1em;
}

.pras {
  position: relative;
  margin: 1.5em 0 1.5em 15px;
  padding: 20px 10px;
  width: 75%;
  color: #555;
  font-size: 16px;
  background: #e7e7ed;
  margin: 0 auto 0 auto;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* .pras:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e7e7ed;
} */


.purasu {
  color: tomato;
}

.houmon {
  margin-bottom: 10px;
}