p {
  text-indent: 1em;
}

.purof li {
  font-size: 20px;
}

.profcontent p {
  line-height: 1.7;
  font-size: 20px;
  margin: 0 auto;
}

.purof-img {
  width: 240px;
  height: auto;
  float: right;
}

.s {
  font-size: 25px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.b {
  margin-top: 15px;
  border-left: 10px #ad7e4e solid;
  padding: 10px;
  grid-column: 1/2;
  grid-row: 2/3;
}

.profcontent {
  margin: 150px auto 50px auto;
  width: 90%;
}

.purof li {
  margin-top: 10px;
}

@media screen and (max-width: 690px) {
  .purof-img {
    display: block;
    float: none;
    margin: 0 auto 0 auto;
  }
  .s {
    width: 80%;
    margin: 0 auto 10px auto;
    text-align: center;
    display: block;
  }
  .b {
    width: 80%;
    margin: 10px auto 0 auto;
    text-align: center;
    display: block;
    border-bottom: 3px #ad7e4e solid;
    border-left: none;
  }
  main ul {
    display: block;
    margin: 10px auto 45px auto;
    width: 75%;
  }
  main li {
    width: 75%;
    text-align: center;
    display: block;
    margin: 0 auto 0 auto;
  }
  .profcontent {
    margin: 50px auto 50px auto;
    width: 85%;
  }
  .profcontent p {
    font-size: 18px;
  }
}

.nenpyou1,
.nenpyou2,
.nenpyou3,
.nenpyou4,
.nenpyou5 {
  word-break: keep-all;
}

.nenpyou-box {
  display: none;
}

@media screen and (max-width: 950px) {
  main {
    padding-top: 180px;
    width: 100%;
    margin: 0 auto;
  }

  .nenpyou {
     display: none;
  }

  .nenpyou-box {
    display: inline-block;
  }
  .nenpyou-img {
    display: inline-block;
    width: 450px;
  }
}

@media screen and (max-width: 600px) {
  main {
    padding-top: 120px;
  }
}

@media screen and (max-width: 499px) {
  main {
    padding-top: 90px;
  }
  .nenpyou-img {
    width: 85%;
  }
  .nenpyou-box {
    display: flex;
    justify-content: center;
  }
} 