body {
  margin: 0;
  background-color: #fdf5e6;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

nav a:hover {
  color: rgb(138, 138, 138);
}

li {
  list-style: none;
}

nav ul, nav li {
  margin: 0;
  padding: 0;
}

nav {
  margin: 0 0 18px 0;
	background: white;
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav li {
  display: flex;
  flex-wrap: wrap;
}

nav a {
  padding: 0.5em;
}

.key-visual {
  width: 100%;
}

.wrapper {
  min-height: calc(100vh - 25px);
}

footer {
  height: 25px;
  color: white;
  background: #ad7e4e;
  text-align: center;
  max-width: 900px;
  border-radius: 0 15px 0 0;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto 0 auto;
}

.logo {
  height: 122px;
  float: right;
  border-radius: 0 0 0 10px;
}

.titile {
  display: block;
  width: 70%;
  margin: 0 auto;
  background: #fff;
}

.icon {
  border-bottom: 2px #773c30 dashed;
  background: white;
}

.hamburger-demo-menubox *{
	font-size: 16px;
}
.hamburger-demo-menubox li{
	font-size: 14px;
}

.input-hidden{
	display: none;
}

.hamburger-demo-switch{
	cursor: pointer;
	position: absolute;
	right: 3%;
	top: 0;
	z-index: 9999;
	width: 4em;
	height: 4em;
}

#hamburger-demo1:checked ~ .hamburger-demo-switch{
	position: fixed;
}

.hamburger-switch-line1, .hamburger-switch-line1:before, .hamburger-switch-line1:after{
	width: 50px;
	height: 6px;
	background: #432f2f;
	position: absolute;
	top: 70%;
	left: 50%;
	transition: .3s;
	content: "";
}
.hamburger-switch-line1{
		transform: translate(-50%, -50%);
}
.hamburger-switch-line1:before{
	transform: translate(-50%, -300%);
}
.hamburger-switch-line1:after{
	transform: translate(-50%, 200%);
}

#hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1{
	width: 0;
}
#hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1:before{
	transform: rotate(45deg) translate(-40%, 325%);
}
#hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1:after{
	transform: rotate(-45deg) translate(-40%, -325%);
}

.hamburger-demo-menuwrap{
	position: fixed;
	height: 100%;
	background: #fafafa;
	padding: 5em 3% 2em;
	z-index: 9998;
	transition: .3s;
	overflow-y: scroll;
	top: 0;
	left: 100%;
	width: 70%;
}

.hamburger-demo-menulist{
	margin-right: 3%;
	padding-left: 5% !important;
	list-style: none;
  display: block;
}
.hamburger-demo-menulist li a{
  text-decoration: none;
	color: #333;
	display: block;
	padding: .5em 0;
}

#hamburger-demo1:checked ~ .hamburger-demo-menuwrap{
	left: 30%;
}

#hamburger-demo1:checked ~ .hamburger-demo-cover{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9997;
	background: rgba(3,3,3,.5);
	display: block;
}

@media (min-width: 951px){
	.hamburger-demo-menubox{
		display: none;
	}
}

header {
	display: block;
	position: fixed;
	z-index: 10;
	top: 0;
	width: 100%;
	max-width: 900px;
	height: 50px;
	margin: 0 auto;
}

main {
	padding-top: 270px;
}


@media (max-width: 950px) {
	.normal-menu{
		display: none;
	}
	main {
		padding-top: 180px;
	}
	.hamburger-demo-switch {
		width: 2em;
	}
}