.explanation,
.feature,
.corporate,
.HomeTherapy
.sinyuu {
  line-height: 1.6;
  word-break: keep-all;
  margin: 45px o 45px 5px;
}

.terumii-title {
  margin: 50px 0 50px 0;
  background: #e8d3c7;
}

.terumii-title span {
  font-size: 15px;
}

.terumii-title a {
  text-decoration: none;
  color: #e8d3d1;
  transition: .5s;
  background: #956f29;
}

.terumii-title a:hover {
  color: white;
  background: #8c7042;
}

.panf img {
  object-fit:cover;
  width: 80%;
  height: auto;
  margin: 25px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.sinyuu {
  padding: 30px 0 30px 0;
  line-height: 1.7;
}

.sinyuu h2,
.sinyuu h3,
.sinyuu a {
  font-size: 24px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.sinyuu a {
  color: blue;
  transition: .3s;
}

.sinyuu a:hover {
  color: skyblue;
}

main {
  padding-top: 200px;
}

@media screen and (max-width: 950px) {
  main {
    padding-top: 140px;
  }
}


@media screen and (max-width: 543px) {
  .kuwashiku {
    display: block;
  }
  .panf img {
    width: 100%;
  }

  .sinyuu h2,
  .sinyuu h3,
  .sinyuu a {
    font-size: 16px;
  }

  main {
    padding-top: 50px;
  }
}

.tyuui {
  margin: 20px auto 20px auto;
  background: #eaedf7;
  width: 80%;
  padding: 20px;
}

.tyuui h2 {
  text-align: center;
  color: tomato;
  margin-bottom: 10px;
  font-size: 34px;
}

.tyuui p {
  width: 80%;
  margin: 0 auto;
  text-indent: -1em;
}